.ms-EditNav_contextMenu {
  display: block;
  // Short term fix until the conflicting css is removed from odsp-next.
  .ms-ContextualMenu.is-open {
    position: relative;
    box-shadow: none;
    border: none;
  }
}

.ms-Callout-container {
  z-index: 299;  // same as $zIndex-ContextMenu
}