.ms-EditNav_contextMenu {
  display: block;
}

.ms-ContextualMenu {
  .ms-ContextualMenu-list {
    overflow-y: hidden;
  }
}

.ms-Callout-container {
  z-index: 299;  // same as $zIndex-ContextMenu
}