@import '../../common/common';

$siteHeaderHeight: 64px;
$acronym-static-white: #fff;

.ms-siteHeader {
  display: flex;
  align-items: center;
  
  // If the site title is too long, it'll overflow the container it's supposed to live in.
  // This overflow:hidden forces this Flex Child to not grow out of the bounds of its parent
  // (and it makes the text-overflow: ellipsis work)
  overflow: hidden;

  &.compact {
    height: 42px;
    align-items: flex-start;
    overflow: visible;

    @media (max-width: $ms-screen-min-xl - 1) {
      height: auto;
    }

    .ms-siteHeaderGroupInfoUsageGuidelineLink {
      color: $ms-color-neutralSecondary;
      font-size: $ms-font-size-s;
      margin: 0px 16px;

      @media (max-width: $ms-screen-min-lg - 1) {
        font-size: $ms-font-size-xs;
      }
    }
  }
}

.ms-siteHeader-titleLink {
  color: $ms-color-themePrimary;
  text-decoration: none;
}

.ms-siteHeader-siteLogo {
  flex-shrink: 0;
  @include ms-margin(0px, 16px, 0px, 32px);
}

.ms-siteHeader-siteInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 20px;
  @include ms-margin-right(24px);

  &.renderHorizontally {
    flex-direction: row;
    align-items: baseline;
  }
}

.ms-siteHeader-siteName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ms-siteHeaderGroupInfoUsageGuidelineLink {
  color: $ms-color-themePrimary;
  text-decoration: none;
}
