@import '../common';

.od-FieldRenderer-text {
    position: relative;

    &.is-truncated {
        height: 126px;
        overflow: hidden;

        position: relative;
        height: 98px;
        display: inline-block;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 4em;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $listBackgroundColor 100%);            
        };
    }
}

.ms-DetailsRow {
    &.is-selected {
        .od-FieldRenderer-text.is-truncated:after {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $listItemBackgroundCheckedColor 100%); 
        }
    }

    &:hover {
        .od-FieldRenderer-text.is-truncated:after {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $listItemBackgroundHoveredColor 100%); 
        }
    }

    &.is-selected:hover,
    &.is-selected:focus {
        .od-FieldRenderer-text.is-truncated:after {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $listItemBackgroundCheckedHoveredColor 100%); 
        }
    }
}