@import '../common';

$imageSize: 64px;

.ms-DetailsRow-cell {
    .ms-Link,
    a.od-FieldRender-display,
    a.od-FieldRender-display:visited, {
        cursor: pointer;
        text-decoration: none;
        color: $ms-color-black;
        font-size: $ms-font-size-s;

        &:hover {
            text-decoration: underline;
            color: $ms-color-black;
        }
    }
}

.od-FieldRender-image {
    max-width: $imageSize;
    max-height: $imageSize;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.od-FieldRender-imageDisplay {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    
}