@import '../../common/common';

$CARD_MARGIN: 20px;
$CARD_MARGIN_MOBILE: 8px;
$CARD_MIN_WIDTH: 212px;
$CARD_MAX_WIDTH: 286px;

.ms-CardList {
  .hiddenSpan {
    display: none;
  }

  .ms-List-cell {
    vertical-align: top;
    display: inline-block;
    margin-bottom: $CARD_MARGIN;

    .ms-FocusZone {
      height: 100%;
    }
  }

  .ms-DocumentCard:not(.ms-DocumentCard--compact) {
    position: relative;
    border: 1px solid $ms-color-neutralLight;
    background-color: $ms-color-white;
    height: 100%;
    min-width: $CARD_MIN_WIDTH;
    max-width: $CARD_MAX_WIDTH;

    &.ms-DocumentCard--actionable:hover {
      border-color: $ms-color-neutralTertiaryAlt;
    }
  }

  .ms-CardList-title {
    @include ms-font-xxl();
    margin: 0 0 20px;
  }
}

.ms-CardList-lgDown {
    // Font size changes
    .ms-CardList-title {
        font-size: $ms-font-size-xl;
    }
}

@media (max-width: $ms-screen-sm-max) {
  .ms-CardList {
    .ms-List-cell {
      margin-bottom: $CARD_MARGIN_MOBILE;
      @include margin-right(0);
    }
  }
}
