@import '../../common/common';

.ms-membersInfo-infoArea {
  display: inline-flex;
  align-items: center;
}

.ms-membersInfo-membersNumber {
  @include padding-left(5px);
}

.ms-membersInfo-joinedText {
  @include padding-right(5px);
}

.ms-membersInfo-membersNumber--buttonEmulate {
  padding: 0px 8px;
}

.ms-membersInfo-joinButton--joinLeaveError {
  .ms-membersInfo-joinButton--joinLeaveErrorText {
    @include ms-font-s;
    @include ms-fontColor-redDark;
    @include resetMargins;
  }

  .ms-membersInfo-joinButton--dismiss {
    @include padding-left(8px);
    @include padding-right(0px);
    cursor: pointer;
  }
}

.ms-membersInfo-joinButton-spinner {
  .ms-Spinner-circle {
    float: left;
  }

  .ms-Spinner-label {
    @include text-align(left);
    color: $ms-color-neutralSecondary;
    margin-left: 28px;
  }

  .ms-membersInfo-joinButton--splitter {
    height: 40px;
    line-height: 40px;
  }
}