@import '../../common/common';

.ms-Folder {
  display: inline-block;
}

.ms-Folder-background { fill: #3D3D3D; }

.ms-Folder-poly1 { fill: url(#SVGID_1_); }

.ms-Folder-poly2 { opacity: 0.6; fill: #010101; }
