@import '../../../../common';

.eg {
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  position:relative;
  height:448px;
}

.eg-header{
  border-top: 1px dashed #a8a8a8;

  margin-left: -25px;
  margin-right:-25px;

  &+& {
    margin-top:40px;
  }
}


@media (min-width: $ms-screen-lg-min) {
    .eg-header {
      margin-left: -40px;
      margin-right:-40px;
    }
}