# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

bower_components
node_modules
jspm_packages
lib
lib-amd
app
app-min
temp
lib
coverage
dist
npm-debug.log
npminstall-log.txt
/common/apiDocs/json
/common/temp/**
/common/npm-local/
/src/*
**/sharepoint/solution/**
!/src/*.csproj
!/src/local/
!/src/test/
test-dependencies
screenshots
!/tools/sp-visual-tests/screenshots
/tools/sp-visual-tests/screenshots/*/*.diff.png
/tools/sp-visual-tests/screenshots/*/*.fail.png
/tools/sp-visual-tests/screenshots/*/failures
apps/sp-pages/sharepoint/

# Drop Folder
drop/

# Events Generated Code
*.event.ts

# Resx Generated Code
*.resx.ts

# Styles Generated Code
*.scss.ts

# Visual Studio Temp Project
.vs/
bin/
OneDrive.sln
OneDrive.csproj
OneDrive.csproj.*
*.suo
*.csproj.user
*.userosscache
*.sublime-project
*.sublime-workspace
OneDrive.sln.*
.idea
/.settings/
OneDrive.sln.ide/*
*.bak

# Ignore Visual Studio Code personal settings, but keep a root-level setting
/*/**/.vscode/

# NPM Install Temp
__temp/

# Deploy symlinks
_Deploy

# Commit meta data
commit.txt
groupprofiledelve_manifestentry.json
videoportalembedplayer_manifestentry.json
odbonedrivecontrols_manifestentry.json
odbonedrive_manifestentry.json
next.manifest_manifestentry.json
groupstatus_manifestentry.json
groups_manifestentry.json

# Webpart typings
typings/webpart-framework
typings/webparts

# Configs that contain sensitive information
TDSDeployConfig.json

# Rush Build log
**/*.build.log
**/*.build.error.log

# Gulp caches
**/gulp-cache

# Verdaccio (local npm server)
verdaccio-storage
htpasswd

package-deps.json