@import '../../../common/common';

$od-FolderCoverTile-itemRise: 3px;
$od-FolderCoverTile-itemRun: 3px;
$od-FolderCoverTile-outerOffset: 2px;

$od-FolderCoverTile-transition: .6s;

@mixin ms-CoverItem($itemNum) {
  left: $od-FolderCoverTile-outerOffset + $od-FolderCoverTile-itemRun * ($itemNum - 1);
  right: $od-FolderCoverTile-outerOffset + $od-FolderCoverTile-itemRun * ($itemNum - 1);
  top: $od-FolderCoverTile-outerOffset + $od-FolderCoverTile-itemRise * (3 - $itemNum);
}

.ms-FolderCoverTile {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.ms-FolderCoverTile-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity $od-FolderCoverTile-transition linear $od-FolderCoverTile-transition;
  background-color: $ms-color-neutralLight;
}

.ms-FolderCoverTile-watermark {
  position: absolute;
  left: 50%; /* OK in rtl */
  top: 38%;
  transform: translate(-50%, -50%);
  max-width: 64px;
  max-height: 64px;
}

.ms-FolderCoverTile-empty {
    left: $od-FolderCoverTile-outerOffset;
    right: $od-FolderCoverTile-outerOffset;
    top: $od-FolderCoverTile-outerOffset + ($od-FolderCoverTile-itemRise * 2);
    box-shadow: 0 0 0 1px $ms-color-neutralLight;
    background-color: $ms-color-white;
}

.ms-FolderCoverTile-item0 .ms-FolderCoverTile-image,
.ms-FolderCoverTile-item1 .ms-FolderCoverTile-image {
  transition: opacity 0s linear;
  opacity: 1;
}

.ms-FolderCoverTile-item1.pulse .ms-FolderCoverTile-image {
  transition: opacity $od-FolderCoverTile-transition linear;
  opacity: 0;
}

.ms-FolderCoverTile > div {
  position: absolute;
  bottom: 0;
}

.ms-FolderCoverTile-empty {
  @include ms-CoverItem(1);
  background-color: $ms-color-white;
  box-shadow: 0 0 0 1px $ms-color-neutralLight;
}

.ms-FolderCoverTile-item0,
.ms-FolderCoverTile-item1 {
  @include ms-CoverItem(1);
  background-color: $ms-color-neutralLight;
  box-shadow: 0 0 0 1px $ms-color-neutralTertiaryAlt;
}


.ms-FolderCoverTile-item2,
.ms-FolderCoverTile-item3 {
  transition: left 0s $ms-animation-ease-1, right 0s $ms-animation-ease-1, top 0s $ms-animation-ease-1;
  background-color: $ms-color-white;
  box-shadow: 0 0 0 1px $ms-color-neutralLight;
}

.ms-FolderCoverTile-item0 {
  transform: translateY(100%);
}

.ms-FolderCoverTile-item1 {
  transition: transform 0s $ms-animation-ease-1;
}

.ms-FolderCoverTile-item2 {
  @include ms-CoverItem(2);
}

.ms-FolderCoverTile-item3 {
  @include ms-CoverItem(3);
}

.ms-FolderCoverTile-item0.pulse {
  transition: transform $od-FolderCoverTile-transition $ms-animation-ease-1;
  transform: translateY(0%);
}

.ms-FolderCoverTile-item1.pulse,
.ms-FolderCoverTile-item2.pulse {
  transition: left $od-FolderCoverTile-transition $ms-animation-ease-1, right $od-FolderCoverTile-transition $ms-animation-ease-1, top $od-FolderCoverTile-transition $ms-animation-ease-1;
}

.ms-FolderCoverTile-item1.pulse {
  @include ms-CoverItem(2);
  background-color: $ms-color-white;
  box-shadow: 0 0 0 1px $ms-color-neutralLight;
}

.ms-FolderCoverTile-item2.pulse {
  @include ms-CoverItem(3);
}
