@import '../../../common/common';

.ms-Dropdown-item + .ms-Dropdown-item {
    @include margin-left(0px);
 }

.ms-EditNavCallout {
  position: relative;
  width: 320px;
}

.ms-EditNavCallout-buttonArea {
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  @include text-align(right);
  width: 100%;
}

.ms-Callout {
  max-width: 400px;
}

.editNav-Callout-inner {
  height: 100%;
  padding: 0 24px 20px;
}

.editNav-Callout-header {
  padding: 18px 24px 12px;
}

.editNav-Callout-title {
  margin: 0;
  @include ms-font-xl();
  color: $ms-color-neutralPrimary;
  font-weight: $ms-font-weight-semilight;
}

.editNav-Callout-Checkbox {
  display: none;
  margin-top: 20px;
  margin-bottom: 10px;
  @include ms-font-s;
}
