@import '../../common/common';

.ms-groupMemberPanel {
    @include panelTopMargin;
}

.ms-groupMember-itemBtn {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    @include margin-right(4px);
    border-radius: 50%;
    vertical-align: top;
    display: table-row;
}

.ms-groupMember-personName {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.ms-groupMember-personName > div {
    margin: 10px;
}

.ms-groupMember-membersCount {
    @include ms-fontWeight-semibold;
    margin-bottom: 10px;
}

.ms-groupMember-errorMessage {
    @include ms-fontColor-redDark;
    @include resetMargins;
    margin-top: 20px;
    margin-bottom: 13px;
}

.ms-groupMember-addMemberInstructions {
    margin-bottom: 20px;
}

.ms-groupMember-peoplePicker {
    margin-bottom: 20px;
}