@import '../../common/common';

.ms-groupMember-itemBtn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    @include margin-right(4px);
}

.ms-groupMember-personName {
    white-space: nowrap;
    text-overflow: ellipsis;
    @include text-align(left);
}

.ms-groupMember-personName > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ms-groupMember-largeGroupMessage {
    margin-bottom: 10px;
}

.ms-groupMember-membersCount {
    @include ms-fontWeight-semibold;
    margin-bottom: 10px;
}

.ms-groupMember-list {
    list-style-type: none;
    @include padding-left(0px);
}

.ms-groupMember-errorMessage {
    @include resetMargins;
    margin-top: 20px;
    margin-bottom: 13px;
}

.ms-groupMember-addingGuest {
    @include resetMargins;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ms-groupMember-addMemberInstructions {
    margin-bottom: 20px;
}

.ms-groupMember-peoplePicker {
    margin-bottom: 20px;
}

.ms-groupMemberButton-container {
  padding: 0px 4px;
}

.ms-groupMember-spinner {
    overflow: hidden;
}

.ms-groupMemberList-spinner {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}