@import '../../common/common';

.ms-ColumnManagementPanel.hidden {
    display: none;
}

.ms-ColumnManagementPanel-spinner {
    height: 50px;
}

.ms-ColumnManagementPanel-loadingError {
    @include ms-font-s;
    @include ms-fontColor-redDark;
}

.ms-ColumnManagementPanel-content {
    margin-bottom: 18px;
}

.ms-ColumnManagementPanel-titleLearnMore {
    margin-bottom: 10px;
}

.ms-ColumnManagementPanel-nameTextField {
    margin-bottom: 10px;
}

.ms-ColumnManagementPanel-descriptionTextField {
    margin-bottom: 10px;
}

.ms-ColumnManagementPanel-descriptionTextField.noUniqueFields {
    margin-bottom: 18px;
}

.ms-ColumnManagementPanel-choicesTextField {
    margin-bottom: 6px;
}

.ms-ColumnManagementPanel-uniqueFields {
    margin-bottom: 10px;
}

.ms-Dropdown.ms-ColumnManagementPanel-defaultValueDropdown {
    margin-bottom: 6px;
}

.ms-Dropdown.ms-ColumnManagementPanel-decimalsDropdown {
    margin-bottom: 6px;
}

.ms-ColumnManagementPanel-defaultValueEntryField {
    margin-bottom: 6px;
}

.ms-ColumnManagementPanel-defaultFormulaEntryField {
    margin-bottom: 6px;
}

.ms-ColumnManagementPanel-booleanDefaultValue {
    margin-bottom: 18px;
}

.ms-ColumnManagementPanel-calloutSubText {
    margin-top: 0;
    margin-bottom: 5px;
}

.ms-ColumnManagementPanel-calloutInner {
    margin: 15px;
    &:focus {
        outline: 0px;
    }
}

.ms-ColumnManagementPanel-checkbox {
    display: inline-block;
}

.ms-ColumnManagementPanel-checkboxInfo {
    display: inline-block;
    vertical-align: bottom;
}

.ms-ColumnManagementPanel-infoIcon {
    .ms-Icon {
        @include ms-fontColor-themePrimary;
    }
}

.ms-ColumnManagementPanel-infoLabel {
    @include ms-font-m;
}

.ms-ColumnManagementPanel-infoIconContainer {
    display: inline-block;
    vertical-align: middle;
}

.ms-ColumnManagementPanel-allowManuallyAddValues {
    margin-bottom: 5px;
}

.ms-ColumnManagementPanel-showAsPercentageCheckbox {
    margin-bottom: 5px;
}

.ms-ColumnManagementPanel-moreOptions.hidden {
    display: none;
}

.ms-ColumnManagementPanel-moreOptionsButton {
    margin-bottom: 10px;
}

.ms-ColumnManagementPanel-columnValidationButton {
    margin-top: 16px;
    margin-bottom: 16px;
}

.ms-ColumnManagementPanel-columnValidation.hidden {
    display: none;
}

.ms-ColumnManagementPanel-validationGuideText {
    @include  ms-font-s;
    margin-bottom: 15px;
}

.ms-ColumnManagementPanel-learnMoreLink {
    margin-bottom: 10px;
    @include ms-font-s;
}

.ms-ColumnManagementPanel-formulaTextField {
    margin-bottom: 15px;
}

.ms-ColumnManagementPanel-messageGuideText {
    @include ms-font-s;
}

.ms-ColumnManagementPanel {
    .ms-Panel-footer {
        border-top-color: $ms-color-neutralLight;
    }
}

.ms-ColumnManagementPanel.loading {
    .ms-Panel-footer {
        display: none;
        border-top-color: transparent;
    }
}

.ms-ColumnManagementPanel-error {
    margin-top: 12px;
    @include ms-font-s;
    @include ms-fontColor-redDark;
}
