@import '../../utilities/css/_common';

.od-ShareLinkDescription {
    align-items: center;
    display: flex;
    padding: 4px 0px;
}

.od-ShareLinkDescription-label {
    display: inline-block;
    @include ms-font-m;
    vertical-align: top;
    @include margin-left(8px);
    color: $ms-color-neutralSecondary;
}

.od-ShareLinkDescription-icon {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    @include padding-right(10px);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;

    .ms-Icon {
        position: absolute;
        top: 50%;
        @include left(50%);
        transform: translate(-50%, -50%);
        font-size: 14px;
    }

    &.icon-Work .ms-Icon {
        top: 4px;
        transform: translate(-50%, 0);
    }

    &.icon-PeopleAdd .ms-Icon {
        top: 3px;
        transform: translate(-50%, 0);
    }
}