@import '../../utilities/css/_common';

.od-ShareLinkDescription {
    align-items: center;
    display: flex;
    padding: 4px 0px;
}

.od-ShareLinkDescription-label {
    display: inline-block;
    @include ms-font-m;
    vertical-align: top;
    @include margin-left(8px);
    color: $ms-color-neutralSecondary;
}

.od-ShareLinkDescription-icon {
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px;

    .ms-Icon {
        font-size: 14px;
    }
}