@import '../../utilities/css/_common';

.od-ShareMain {
    &.blocker {
        position: relative;

        &:after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $ms-color-white;
            opacity: 0.8;
        }
    }
}


.od-ShareMain-section {
    padding: 20px 16px 0px 16px;

    &.full-bleed {
        padding: 0;
    }
}

.od-ShareMain-targets {
    padding: 0 20px 20px 20px;
}

.od-ShareMain-footer {
    @include ms-font-s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    width: 320px;
    height: 44px;
    color: $ms-color-neutralDark;
    background-color: $ms-color-neutralLighterAlt;
    border: none;
    border-top: 1px solid $ms-color-neutralLight;
    cursor: pointer;
}

.od-ShareMain-attachIcon {
    @include ms-margin-right(4px);
    margin-top: 2px;
    font-size: $ms-icon-size-m;
}

.od-ShareMain-attachmentOptions {
    .is-open {
        border: none;
        width: auto;
    }
}