@import '../../utilities/css/_common';

.od-ShareMain {
    &.blocker {
        &:after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $ms-color-white;
            opacity: 0.8;
        }
    }
}

.od-ShareMain-footer {
    position: relative;
    width: 320px;
    padding: 8px 0;
    text-align: center;
    border-top: 1px solid $ms-color-neutralLight;
    color: $ms-color-neutralDark;
    cursor: pointer;
}

.od-ShareMain-section {
    padding: 20px 16px;

    &.full-bleed {
        padding: 0;
    }
}

.od-ShareMain-footerLabel {
    display: inline-block;
}

.od-ShareMain-footerIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include right(8px);
    display: inline-block;
}

.od-ShareMain-endPoints {
    padding: 0 20px 20px 20px;
}