@import '../../utilities/css/_common';

.od-ShareMain {
    &.blocker {
        &:after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $ms-color-white;
            opacity: 0.8;
        }
    }
}


.od-ShareMain-section {
    padding: 20px 16px;

    &.full-bleed {
        padding: 0;
    }
}

.od-ShareMain-endPoints {
    padding: 0 20px 20px 20px;
}

.od-ShareMain-footer {
    @include ms-font-s-plus;
    background: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid $ms-color-neutralLight;
    color: $ms-color-neutralDark;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    text-align: center;
    width: 320px;
}

.od-ShareMain-attachIcon {
    @include margin-right(4px);
    margin-top: 2px;
}

.od-ShareMain-attachmentOptions {
    .is-open {
        border: none;
        width: auto;
    }
}