@import '../../utilities/css/_common';

.od-SendLink--exclustionNotification .ms-BasePicker-text {
    border-bottom: 1px solid $ms-color-redDark;
}

.od-SendLink-message {
    margin-top: 16px;

    .ms-TextField.ms-TextField--multiline {
        .ms-TextField-field {
            @include ms-font-s;

            &::placeholder {
                color: $ms-color-neutralSecondary;
            }
        }

        div {
            border-color: transparent;
        }
    }
}

.od-SendLink-ITPolicy {
    position: absolute;
    top: -24px;
    @include right(0);
}

.od-SendLink-email {
    position: relative;

    .ms-TextField-field {
        height: 65px;
        padding: 6px 0 7px 0;
    }

    .ms-BasePicker .ms-BasePicker-input {
        @include ms-font-s;

        &::placeholder {
            color: $ms-color-neutralSecondary;
        }
    }
}

.od-SendLink-characterCounter {
    @include ms-font-s;
    @include float(right);
}

.od-SendLink-characterCounter--error {
    color: $ms-color-shareError;
}