@import '../../common/common';

.ms-membersInfoNumMembersText {
  @include padding-left(5px);
}

.ms-membersInfoJoinedText {
  @include padding-right(5px);
}

.ms-membersInfoNumMembers-buttonEmulate {
  padding: 0px 8px;
}

.ms-membersInfoJoinButton--joinError {
  @include ms-font-s;
  @include ms-fontColor-redDark;
  @include resetMargins;
}

.ms-membersInfoJoinButton-Spinner {
  .ms-Spinner-circle {
    float: left;
  }

  .ms-Spinner-label {
    color: $ms-color-neutralSecondary;
    text-align: left;
    margin-left: 28px;
  }
}