@import '../../../utilities/css/_common';

.od-ShareHintDetail {
    word-break: break-all; // IE specific since "break-word" isn't a value it supports.
    word-break: break-word;
}

.od-ShareHintDetail-status {
    font-size: $ms-font-size-s;
    padding: 0 8px;
    vertical-align: middle;
}

.od-ShareHintDetail-statusText {
    @include margin-right(4px);
    color: $ms-color-neutralDark;
}

.od-ShareHintDetail-statusDetails {
    position: absolute;
    top: 0;
    @include right(-36px);
    @include text-align(right);
}

.od-ShareHintDetail-expirationText {
    font-size: $ms-font-size-s;
    color: $ms-color-redDark;
}

.od-ShareHintDetail-iconsList {
    display: inline-block;
}

.od-ShareHintDetail-item {
    display: inline-block;
    @include margin-right(4px);
    margin-bottom: 0;
    font-size: $ms-icon-size-xs;

    .ms-Icon {
        background-color: transparent;
        position: relative;

        &:after {
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: $ms-color-green;
        }
    }
}

.od-ShareHintDetail-description {
    @include text-align(left);
}
