@import '../../common/common';

// change to 36px from 40 on nov 21 2016 with Dave
// address concern of too much space in lgDown
$compositeHeader-buttonHeight: 36px;

.ms-compositeHeader {
    position: relative;
    .ms-SiteHeader {
        margin-top: 6px;
    }

    // sm
    @media (max-width: $ms-screen-max-sm) {
        .ms-siteHeader-siteLogo {
            transition: all 0.5s ease;
            @include ms-margin-left(14px);
        }

        .ms-CompositeHeader-collapsible {
            i {
                transform: rotate(360deg);
                html[dir=rtl] & {
                    transform: rotate(-360deg);
                }
            }

            .ms-Button-label {
                opacity: 0;
                max-width: 0px;
            }
        }
    }

    // mdDown
    @media (max-width: $ms-screen-max-md) {
        .ms-siteHeaderFacepile, .ms-siteHeaderMembersInfo {
            display: none;
        }
    }

    @mixin follow-animation {
        animation-iteration-count: infinite;
        animation-duration: 0.75s;
        animation-fill-mode: both;
        animation-delay: $ms-animation-duration-2;
    }

    .follow-animation-card i {
        animation-name: pulseIcon;
        @include follow-animation();
    }
}

@keyframes pulseIcon {
        0% {
            color: #c4c4c3;
        }
        50% {
            color: #eeeeee;
        }
        100% {
            color: #c4c4c3;
        }
    }

    .ms-compositeHeader-addnCommands {
        &>div {
            // we want 32px from the right, but the buttons have padding of 8px
            @include ms-padding-right(24px);
            display: inline-flex;
            align-items: center;

            @media (max-width: $ms-screen-max-sm) {
                @include ms-padding-right(4px);
            }
        }

        .ms-Button.ms-Button--command span {
            // 2/17/2017: Fabric react increased specificity to 3, increasing specificity to 4 as a result.
            // Follow, Share, Back to outlook
            @include ms-font-s-plus;
        }

        .ms-Button.ms-Button--command {
            // nov 21 2016: overwrite fabric heights to meet dave's new spec
            height: $compositeHeader-buttonHeight;
        }

        white-space: nowrap;
        flex: 0 0 auto;
        text-align: right;

        i {
            transition: transform 0.5s ease;
        }

        .ms-Button-label {
            display: inline-block;
            transition: opacity 0.35s ease-in-out, max-width 0.4s ease-in-out;
            white-space: nowrap;
            max-width: 100px;
        }
    }


.ms-compositeHeader-goToOutlook {
    @include ms-margin-left(14px);
    padding: 0px 8px;

    button {
        @include ms-normalize;
        @include ms-font-s-plus;
        @include ms-fontColor-neutralPrimary;
        background: none;
        border: none;
        cursor: pointer;
    }

    .ms-compositeHeader-goToOutlookIcon {
        font-size: $ms-icon-size-xs;
    }

    .ms-compositeHeader-goToOutlookText {
        @include ms-margin-right(4px);
    }
}

// Style overrides for smaller screens
.ms-compositeHeader-lgDown {
    // Modify the SiteHeader logo to NOT overlap out of the header area
    .ms-siteLogoAcronym,
    .ms-siteLogo-defaultLogo,
    .ms-siteLogo-actual,
    .ms-siteLogoContainerInner,
    .ms-siteLogoContainerOuter
    {
        width: 56px;
        height: 56px;
    }
    .ms-siteLogo-defaultLogo {
        font-size: 56px;

        &::before {
            // This re-centers the image
            @include ms-margin-left(-19px);
        }
    }

    // Font size changes
    .ms-siteHeaderSiteName.ms-font-xxl {
        font-size: $ms-font-size-xl;
    }
    .ms-siteHeaderGroupInfo {
        font-size: $ms-font-size-m;
    }
}