@import '../../common/common';

.ShareFrame {
    border: none;
    min-width: 300px;
}

.frameVisible {
    visibility: visible;
}

.frameLoading {
    position: absolute;
    top: -9999px;
}

.shareSpinner {
    position: absolute;
    top: 40%;
    @include ms-left(40%);
}

.od-share-DialogContainer.ms-Dialog-main {
    visibility: visible;
    width: auto;
    height: auto;
    max-width: 650px;
}
.od-share-DialogContainer.ms-Dialog-main > .ms-Dialog-header {
    @include ms-padding-right(24px);
    padding-top: 10px;
    padding-bottom: 0px;
}

.od-share-DialogContainer.ms-Dialog-main > .ms-Dialog-header > .ms-Dialog-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.od-share-DialogContent {
    @include ms-padding-right(10px);
    @include ms-padding-left(5px);
    padding-top: 0px;
    padding-bottom: 10px;
    min-height: 50px;
}
