@import '../../common';

.ms-files-siteHeader {
    position: relative;

    .ms-HorizontalNav{
        padding: 4px 24px 16px;
    }


    .ms-SiteHeader {
        margin-top: 6px;
    }

    .ms-files-siteHeaderMargin {
        display: block;
        height:20px;
    }
}

.ms-files-siteHeader-goToOutlook {
    position: absolute;
    @include right(30px);
    top:5px;
}
