@import '../../utilities/css/_common';

.od-ModifyPermissions {
    &.blocker {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $ms-color-white;
            opacity: 0.8;
        }
    }

    .ms-Dialog-main {
        width: 450px;
        max-width: none;
    }

    .ms-Dialog-header {
        display: none;
    }

    .ms-Dialog-actions {
        margin: 20px;
    }
}

.od-ModifyPermissions-header {
    padding: 12px 0;
    text-align: center;
    height: 44px;
    background-color: $ms-color-neutralLighterAlt;
    color: $ms-color-neutralDark;
}

.od-ModifyPermissions-actions {
     padding: 0 20px 20px 20px;
     @include text-align(right);
}

.od-ModifyPermissions-section {
    padding: 20px 0px 0 0px;
}

.od-ModifyPermissions-actions {
    @include text-align(right);
}

.od-ModifyPermissions-margins {
    margin: 0px 20px 0px 20px;
}

.od-ModifyPermissions-activityIndicator {
    position: absolute;
    top: 50%;
    @include left(50%);
    transform: translate(-50%, -50%);
    z-index: 2; /* Necessary because of an after pseudo element. */
    text-align: center;

    .ms-Spinner {
        display: inline-block;
        width: 28px;
    }
}