@import '../../utilities/css/_common';

.od-ShareNotification {
    text-align: center;
    position: relative;
}

.od-ShareNotification-icon {
    position: relative;
    margin-bottom: 16px;
    @include ms-left(50%);
    opacity: 0;
    transform: translateX(-50%) scale(0.5, 0.5);
    transform-origin: 50% 50%;
    background-color: #7Cbb00;
    color: $ms-color-white;
    font-size: $ms-icon-size-m;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: bounce 0.45s;
    animation-fill-mode: both;

    .ms-Icon {
        position: absolute;
        top: 50%;
        @include ms-left(50%);
        transform: translate(-50%, -50%);
    }
}

.od-ShareNotification-content {
    padding: 0 16px;
}

.od-ShareNotification-permissionText {
    margin-bottom: 24px;
    padding: 0 20px;
}

.od-ShareNotification-urlText {
    padding: 10px 4px 12px 4px;

    .ms-TextField .ms-TextField-field {
        padding: 0;
    }
}

.od-ShareNotification-close {
    position: absolute;
    top: 16px;
    @include ms-right(12px);
    color: $ms-color-neutralPrimary;
    font-size: $ms-icon-size-s;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.od-ShareNotification-footer {
    margin-top: -10px;
}

@keyframes bounce{
    0% {
        transform: translateX(-50%) scaleX(0.80) scaleY(0.80);
        opacity: 0;
    }

    60% {
        transform: translateX(-50%) scaleX(1.35) scaleY(1.35);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateX(-50%) scaleX(1.00) scaleY(1.00);
        opacity: 1;
        animation-timing-function: ease-in;
    }
}

.od-ShareNotification .od-ShareHint {
    margin: 0;
    padding: 16px;
    border: none;
    border-top: 1px solid $ms-color-neutralLight;
}

.od-ShareNotification .od-ShareHint--clickable {
    width: 100%;
}

.od-ShareNotification-copyCta {
    @include ms-font-s;
}