@import '../../common/common';

.ms-SiteSettingsPanel-ErrorMessage {
    @include ms-font-s;
    @include ms-fontColor-redDark;
    // @include resetMargins;
    @include ms-normalize;
    margin-top: 20px;
    margin-bottom: 13px;
}

.ms-SiteSettingsPanel-SiteLogo {
    margin: 2px 0px 24px;
}

.ms-SiteSettingsPanel-SiteInfo .ms-spinner {
    margin-top: 8px;
}

.ms-SiteSettingsPanel-Buttons {
    padding-top: 10px;
}

.ms-SiteSettingsPanel-HelpText {
    padding-top: 22px;
}

.ms-SiteSettingsPanel-DeleteGroupConfirmationCheckbox {
    padding-top: 20px;
}

.ms-SiteSettingsPanel-DeleteGroupLink {
    padding-top: 22px;
}

.ms-SiteSettingsPanel-DeleteGroupLinkIcon {
    vertical-align: middle;
}

.ms-SiteSettingsPanel-DeleteGroupLinkLabel {
    margin-left: 4px;
    vertical-align: middle;
}

.ms-SiteSettingsPanel-FileBrowser {
    display: none;
}