@import '../../../utilities/css/_common';

.od-PermissionsSettings {
    .ms-Checkbox {
        min-height: 0;
    }

    .ms-Checkbox-label {
        margin-top: 0;
    }

    .ms-Checkbox-label::before {
        width: 20px;
        height: 20px;
    }

    .ms-Checkbox-label::after {
        font-size: $ms-icon-size-m;
        line-height: 20px;
        width: 20px;
    }

    .ms-PeoplePicker {
        margin-top: 5px;
    }
}

.od-PermissionsSettings-section {
    padding-bottom: 20px;
}

.od-PermissionsSettings-description {
    padding-bottom: 10px;
    font-size: $ms-font-size-s;
    color: $ms-color-neutralPrimary;
}

.od-PermissionsSettings-bottomBorder {
    border-bottom: 1px solid $ms-color-neutralLighter;
}
.od-PermissionsSettings-setting {
    margin-bottom: 8px;
}

.od-PermissionsSettings-datePicker {
    display: flex;
    flex-direction: row;
}

.od-PermissionsSettings-delete {
    background-color: transparent;
    background: none;
    border: none;
    color: $ms-color-neutralPrimary;
    cursor: pointer;
    font-size: $ms-icon-size-m;
    line-height: 0px;
    padding: 0px;
    @include margin-left(auto);
}

.od-PermissionsSettings-expirationError {
    font-size: $ms-font-size-s;
    color: $ms-color-redDark;
}

.od-PermissionsSettings-PeoplePicker {
    margin-top: 6px;
}

.od-PermissionsSettings-learnMore {
    margin: 0px 3px;
}