@import '../../common/common';

$defaultLeftpadding: 6px;

.ms-sitePerm-body {
    flex-grow:1;
}

.ms-sitePerm-Title {
    font-weight: bold;
}

.ms-sitePerm-itemBtn {
    height: 20px;
    width: 32px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    @include margin-right(4px);
    border-radius: 50%;
    vertical-align: top;
    display: table-row;
    cursor: pointer;
}

.ms-sitePerm-personName {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ms-sitePerm-personName > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ms-sitePerm-ContextMenu{
    position: relative;
}

.ms-sitePerm-buttonArea {
    max-width: 95px;
    max-height: 40px;
    cursor: pointer;
    font-size: 12px;
}

.ms-sitePerm-noButtonArea {
    margin-top: 10px;
    max-width: 95px;
    max-height: 40px;
    font-size: $ms-font-size-s;
}

.ms-sitePerm-linkText {
    width: 100%;
}
.ms-sitePerm-chevron.ms-Icon {
    position: absolute;
    @include left(15px);
    line-height: 20px;
    font-size: $ms-font-size-s;
    transition: transform .1s linear;
}

.ms-sitePermMenu-chevron.ms-Icon {
    @include left(15px);
    @include margin-left(10px);
    line-height: 20px;
    font-size: $ms-font-size-s;
    transition: transform .1s linear;
}

.ms-sitePerm-chevron.is-expanded {
    transform: rotate(-180deg);
}

.ms-sitePerm-personaContainer {
  margin-bottom: 20px;
}

.ms-sitePerm-emptyGroupText {
  color: #666666;
}

.ms-sitePerm-Persona {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    @include margin-right(4px);
    border-radius: 50%;
    vertical-align: top;
    display: table-row;
    .ms-Persona.ms-Persona--sm {
        line-height: 0px;
    }
}
