@import "../../common/common";

.od-ClientForm {
    .od-ClientFormFields-fieldsContainer {
        width: 100%;
    }

    .od-ClientFormFields-field {
        padding: 8px 3px;
        position: relative;
    }

    .od-ClientForm-error {
        color: $ms-color-redDark;
        margin-top: 4px;
        font-size: $ms-font-size-s;
        transition: height .15s ease;
        padding: 8px 12px;
        border-left: 4px solid #A6A6A6;
        max-width: 372px;
        width: 100%;
        @include user-select(text);
    }

    .od-ClientForm-buttonContainer-far {
        @include padding-left(8px);
    }

    .od-ClientForm-editButtonsContainer {
        margin-top: 20px;
    }

    .od-ClientForm-editButtonsContainer {
        .od-Dialog-action {
            vertical-align: middle;
        }
    }
}
