@import '../../../common/common';

$imageSize: 64px;

.ms-DetailsRow-cell .ms-Link.od-FieldRenderer-name {
    font-size: $ms-font-size-m;
    color: $ms-color-black;
    display: inline;

    &:hover {
        text-decoration: underline;
        color: $ms-color-black;
    }

    &:visited,
    &:focus {
        color: $ms-color-black;
    }
}
