@import "../../../../common/common";
.ms-ReactClientForm-container {
  position: relative;
  height: 600px;
}
.ms-ClientForm-output {
  margin: 10px 0;
}
.od-ClientFormFields {
  background-color: $ms-color-neutralLighter;
}