@import '../../../utilities/css/_common';

.od-ShareTargets {
    padding-top: 20px;
}

.od-ShareTargets-items {
    list-style: none;
    display: inline-block;
    @include ms-margin-right(-10px);
}

.od-ShareTargets-item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    @include ms-margin-right(10px);
}

.od-ShareTargets-item--bottomMargin {
    margin-bottom: 16px;
}

.od-ShareTargets-itemImage {
    align-items: center;
    background-color: $ms-color-neutralLighter;
    border-radius: 50%;
    color: $ms-color-neutralPrimaryAlt;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    margin-bottom: 8px;
    width: 48px;

    .ms-Icon {
        font-size: 25px;
    }
}

.od-ShareTargets-itemImage--border {
    border: 1px solid $ms-color-neutralLight;
}

.od-ShareTargets-itemText {
    color: $ms-color-neutralPrimary;
}

.od-ShareTargets-target {
    background: none;
    border: none;
}