@import '../../../common/common';

$TILE_NON_PREVIEW_HEIGHT_MOBILE: 124px;
$TILE_NON_PREVIEW_HEIGHT: 140px;

.ms-TipTile {
  height: 100%;
  @include focus-border();

  .ms-DocumentCard {
    text-align: center;
  }

  .ms-DocumentCardPreview {
    height: calc(100% - #{$TILE_NON_PREVIEW_HEIGHT});
    overflow: hidden;
    position: relative;
    background-color: $ms-color-themePrimary;
  }

  .ms-Button.ms-Button--command {
    font-size: 14px;

    &:focus{
      background-color: $ms-color-neutralLight;
      border: 1px solid $ms-color-themePrimary;
      outline: 1px solid transparent;
    }

    .ms-Button-icon {
      color: $ms-color-themePrimary;
    }
  }

  .ms-TipTile-titleArea {
    height: 98px;
  }

  .ms-TipTile-title {
    display: block;
    font-weight: $ms-font-weight-regular;
    font-size: 16px;
    padding: 20px 16px 14px 16px;
    position: relative;
    text-decoration: none;
  }

  .ms-TipTile-detail {
    color: $ms-color-neutralSecondaryAlt;
    display: block;
    font-weight: $ms-font-weight-regular;
    font-size: 12px;
    padding: 0px 16px 8px 16px;
    line-height: 18px;
  }
}

@media (max-width: $ms-screen-sm-max) {
  .ms-TipTile {
    .ms-TipTile-titleArea {
      height: 85px;
    }

    .ms-TipTile-title {
      padding: 20px 10px 10px 10px;
      font-size: $ms-font-size-s-plus;
    }

    .ms-DocumentCardPreview {
      height: calc(100% - #{$TILE_NON_PREVIEW_HEIGHT_MOBILE});
    }

    .ms-TipTile-detail {
      padding: 0px 10px 10px 10px;
      font-size: $ms-font-size-mi;
      line-height: 14px;
    }

    .ms-Button.ms-Button--command {
      font-size: 14px;
      padding: 0px 10px;

      &:focus{
        background-color: $ms-color-neutralLight;
        border: 1px solid $ms-color-themePrimary;
        outline: 1px solid transparent;
      }
    }

    .ms-Button-label {
      font-size: $ms-font-size-mi;
    }
  }
}
