@import '../../common/common';

$defaultLeftpadding: 6px;

.ms-SitePermPanel {
    @include panelTopMargin;
}

.ms-Button.ms-Button--primary.ms-sitePermPanel-itemBtn {
    background-color: lightgrey;
    bottom: 10px;
}

.ms-Button.ms-Button--primary.ms-sitePermPanel-itemBtn:hover{
    background-color: $ms-color-neutralLight;
}

.ms-sitePermPanel-buttonArea {
    max-width: 150px;
    max-height: 40px;
}

.ms-SitePermPanel-PeoplePicker {
    margin-bottom: 20px;
}
