@import '../../../../common/common';

$left-nav-width: 211px;
$left-nav-height: 420px;

.ExampleCard-content {
  background-color: $ms-color-neutralLighterAlt;
}

.ms-editNavExample-Panel {
  width: $left-nav-width;
  height: $left-nav-height;
  @include ms-border-right(1px, solid, #EEE);
  background: white;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}