@import '../../common/common';

.ms-CreateColumnPanel-titleLearnMore {
    margin-bottom: 10px;
}

.ms-CreateColumnPanel-nameTextField {
    margin-bottom: 10px;
    .ms-TextField-invalid,
    .ms-TextField-invalid:focus,
    .ms-TextField-invalid:hover {
        @include ms-borderColor-redDark;
    }
}

.ms-CreateColumnPanel-descriptionTextField {
    margin-bottom: 12px;
}

.ms-CreateColumnPanel-choicesTextField {
    margin-bottom: 14px;
}

.ms-CreateColumnPanel-multilineTextField.ms-TextField--multiline {
    .ms-TextField-field {
        min-width: 10px;
    }
}

.ms-CreateColumnPanel-defaultValueContainer {
    margin-bottom: 14px;
}

.ms-CreateColumnPanel-defaultValueHeader {
    margin-bottom: 2px;
}

.ms-CreateColumnPanel-calloutSubText {
    margin-top: 0;
    margin-bottom: 5px;
}

.ms-CreateColumnPanel-calloutInner {
    margin: 15px;
    &:focus {
        outline: 0px;
    }
}

.ms-CreateColumnPanel-checkbox {
    display: inline-block;
}

.ms-CreateColumnPanel-checkboxInfo {
    display: inline-block;
    vertical-align: bottom;
}

.ms-CreateColumnPanel-infoIcon {
    .ms-Icon {
        @include ms-fontColor-themePrimary;
    }
}

.ms-CreateColumnPanel-infoLabel {
    @include ms-font-m;
}

.ms-CreateColumnPanel-infoIconContainer {
    display: inline-block;
    vertical-align: middle;
}

.ms-CreateColumnPanel-useCalculatedValue {
    margin-bottom: 5px;
}

.ms-CreateColumnPanel-allowManuallyAddValues {
    margin-bottom: 10px;
}

.ms-CreateColumnPanel-moreOptionsButton {
    margin-bottom: 10px;
}

.ms-CreateColumnPanel-columnValidationButton {
    margin-top: 15px;
    margin-bottom: 10px;
}

.ms-CreateColumnPanel-validationGuideText {
    @include  ms-font-s;
    margin-bottom: 15px;
}

.ms-CreateColumnPanel-learnMoreLink {
    margin-bottom: 10px;
    @include ms-font-s;
}

.ms-CreateColumnPanel-formulaTextField {
    margin-bottom: 15px;
}

.ms-CreateColumnPanel-messageGuideText {
    @include ms-font-s;
}

.ms-CreateColumnPanel {
    .ms-Panel-footer {
        border-top-color: $ms-color-neutralLight;
    }
}

.ms-CreateColumnPanel-error {
    margin-top: 12px;
    @include ms-font-s;
    @include ms-fontColor-redDark;
}

.ms-CreateColumnPanel {
    margin-bottom: 20px;
}
