@import "../../../../common/common";

$CHECK_BOX_SIZE: 32px;

.od-PeopleEditorContainer{ 
    .od-PeopleEditorButton.custom {
        display: inline-block;
        vertical-align: top;
        
    }
    .od-PeopleEditorButton.custom > button {
        width: $CHECK_BOX_SIZE;
        height: $CHECK_BOX_SIZE;
        min-width: $CHECK_BOX_SIZE;
        min-height: $CHECK_BOX_SIZE;
    }

    .od-PeopleEditorField.is-editing {
        display: inline-block;
        width: 80%;
        background-color: $ms-color-white; 
        padding: 4px;

        .ms-BasePicker-text {
            border: none;
        }
    }
}
