@import '../../../common/common';

.ms-groupMembershipMenu-linkText {
    cursor: pointer;
}

.ms-groupMembershipMenu-titleArea {
    line-height: 20px;
    font-size: $ms-font-size-s;
    color: $ms-color-neutralSecondary;
}

.ms-groupMembershipMenu-chevron.ms-Icon {
    @include ms-margin-left(10px);
}

.ms-groupMembershipMenu-updatingSpinner {
    float: left;
    @include ms-margin-right(5px);
}