@import '../../common/common';

$siteHeaderLogoWidthHeight: 96px;

.ms-siteLogoAcronym {
    position:absolute;
    line-height: normal;
    width: $siteHeaderLogoWidthHeight;
    height: $siteHeaderLogoWidthHeight;
    background-color: $ms-color-themePrimary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: all 0.5s ease;

    &.ms-font-xxl {
      color: $ms-color-white;
    }
}

.ms-siteLogoContainerOuter {
  width: $siteHeaderLogoWidthHeight;
  height: $siteHeaderLogoWidthHeight;
  display: inline-block;
  margin-top: 1px;
  transition: all 0.5s ease;
  // For some reason, IE shrinks this container in small screens, making the site title squeeze to the left
  // of where it should be. Putting flex-shrink here prevents this occurence
  flex-shrink: 0;
}

.ms-siteLogoContainerInner {
    width: $siteHeaderLogoWidthHeight;
    height: $siteHeaderLogoWidthHeight;
    position: relative;
    background-color: $ms-color-neutralTertiary;
}

.ms-siteLogo-defaultLogo {
      overflow: hidden;
      width: 1em;
      height: 1em;
      color: $ms-color-white;
      vertical-align: middle;
      font-size: $siteHeaderLogoWidthHeight;
      transition: all 0.5s ease;

      // inflate box to fit the browser focus rect
      display: inline-block;
      @include ms-margin-left(-1px);
      margin-top: -1px;
      padding: 2px;

      &.ms-Icon--group {
          line-height: 1.30em; // required to ensure SP fabric does not overwrite line-height
      }

      &:hover {
          text-decoration: none;
          color: $ms-color-white;
      }

      &:visited {
          color: $ms-color-white;
      }
}

.ms-siteLogo-actual {
    position: absolute;
    top:0px;
    left:0px;
    transition: all 0.5s ease;
    width: $siteHeaderLogoWidthHeight;
    height: $siteHeaderLogoWidthHeight;
    white-space: nowrap;
    border: 1px solid $ms-color-neutralLight;
    overflow: hidden;

    img {
        display: none;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }
}
