@import '../../common/common';

/* todo: we can vastly simplify this control now that it doesn't need to overflow out of bounds on top of the command bar anymore
    The design changed from having a large site logo overlap the command bar, to having it overlap nothing.
*/
$siteHeaderLogoWidthHeight: 64px;

.ms-siteLogoAcronym {
    line-height: $siteHeaderLogoWidthHeight;
    width: $siteHeaderLogoWidthHeight;
    height: $siteHeaderLogoWidthHeight;
    background-color: $ms-color-themePrimary;
    text-align: center;
    transition: all 0.5s ease;
    color: $ms-color-white;
}

.ms-siteLogoContainerOuter {
    background-color: $ms-color-neutralTertiary;
    border: 1px solid $ms-color-neutralLight;
    transition: all 0.5s ease;
    flex-shrink: 0;
}

.ms-siteLogo-defaultLogo {
    overflow: hidden;
    width: 1em;
    height: 1em;
    color: $ms-color-white;
    text-decoration: none;
    vertical-align: middle;
    font-size: $siteHeaderLogoWidthHeight;
    transition: all 0.5s ease;
    display: inline-block;

    &.ms-Icon--group {
        line-height: 1.30em; // required to ensure SP fabric does not overwrite line-height
    }

    &:visited, &:hover {
        color: $ms-color-white;
    }
}

.ms-siteLogo-actual {
    position: relative;
    transition: all 0.5s ease;
    width: $siteHeaderLogoWidthHeight;
    height: $siteHeaderLogoWidthHeight;
    white-space: nowrap;
    overflow: hidden;

    img {
        display: none;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
}
