@import '../../../common/common';

$TILE_NON_PREVIEW_HEIGHT_MOBILE: 124px;
$TILE_NON_PREVIEW_HEIGHT: 140px;

.ms-TipTile {
  height: 100%;
  @include focus-border();

  .ms-DocumentCardPreview {
    background-color: $ms-color-blue;
  }

  .ms-DocumentCard:not(.ms-DocumentCard--compact) {
    .ms-DocumentCardPreview {
      height: calc(100% - #{$TILE_NON_PREVIEW_HEIGHT});
    }
  }

  .ms-Button.ms-Button--command {
    font-size: 14px;
    overflow: hidden;

    &:hover,
    &:focus,
    &:active {
      .ms-Button-label {
          color: $ms-color-blue;
      }
    }

    .ms-Button-icon {
      color: $ms-color-blue;
    }
  }

  .ms-TipTile-titleArea {
    height: 94px;
  }

  .ms-TipTile-title {
    display: block;
    font-weight: $ms-font-weight-regular;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    position: relative;
    text-decoration: none;
  }

  .ms-TipTile-detail {
    color: $ms-color-neutralSecondaryAlt;
    display: block;
    font-weight: $ms-font-weight-regular;
    font-size: 14px;
    padding: 0px 16px 8px 16px;
    line-height: 18px;
  }

  .ms-TipTile-action {
    padding: 0 12px; // to align action icon with text on the left
  }

  .ms-DocumentCard--compact .ms-Button.ms-Button--command {
    padding: 0px 16px;
  }
}
