@import '../../../utilities/css/_common';

.od-ShareLink {
    display: flex;
    margin-top: 8px;
}

.od-ShareLink-icon {
    position: relative;
    background-color: $ms-color-themePrimary;
    color: $ms-color-white;
    font-size: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    @include ms-margin-right(10px);

    .ms-Icon--Link {
        position: absolute;
        top: 50%;
        @include ms-left(50%);

        @include LTR {
            transform: translate(-50%, -50%);
        }
        @include RTL {
            transform: translate(50%, -50%);
        }
    }
}

.od-ShareLink-details {
    display: inline-block;
    vertical-align: top;
    width: 179px;
}

.od-ShareLink-url {
    width: 175px;
    margin-bottom: 4px;
}

.od-ShareLink-delete {
    top: -2px;
    font-size: $ms-icon-size-s;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    height: 40px;
}

.od-ShareLink-description {
    margin-bottom: 10px;
    font-size: $ms-font-size-s;
}