$fieldHeight: 32px;
$fieldPadding: 12px;
$fieldTransition: background-color 0.2s ease, padding-left 0.2s ease;

@mixin fieldEditor-textField($padding) {
    border: 0;
    border-bottom: 1px solid $ms-color-neutralTertiary;
    outline: 0;
    font-size: $ms-font-size-m;
    background-color: $ms-color-neutralLighter;
    padding: $padding;
    @include ms-padding-left(0);
    min-width: 170px;
    min-height: $fieldHeight;
    transition: $fieldTransition;
}
