@import '../../../../utilities/css/_common';

.od-InfoButton-infoIcon {
    color: $ms-color-neutralSecondary;
    padding: 5px 4px 4px 4px;
    font-size: 12px;
}

.od-InfoButton-button {
    background: none;
    border: none;
    padding: 0;
}

.od-InfoButton-content {
    @include ms-font-s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;
}