@import '../../../node_modules/office-ui-fabric-core/dist/sass/Fabric';

// Brand colors.
$ms-color-word: #2b579a;
$ms-color-powerpoint: #d24726;
$ms-color-excel: #217346;
$ms-color-onenote: #5c2d91;
$ms-color-sway: #008272;
$ms-color-powerApps: #742774;

// Icon modifiers.
.ms-Icon--ExcelLogo:before {
    color: $ms-color-excel;
}

.ms-Icon--OneNoteLogo:before {
    color: $ms-color-onenote;
}

.ms-Icon--PowerPointLogo:before {
    color: $ms-color-powerpoint;
}

.ms-Icon--WordLogo:before {
    color: $ms-color-word;
}

.ms-Icon--PDF:before {
    color: $ms-color-powerpoint;
}

.icon-Globe {
    border-color: $ms-color-green;
    color: $ms-color-green;
    background-color: $ms-color-successBackground;
}

.icon-Work {
    border-color: $ms-color-themePrimary;
    color: $ms-color-themePrimary;
    background-color: $ms-color-themeLight;
}

.icon-PeopleAdd {
    border-color: $ms-color-orangeLighter;
    color: $ms-color-orangeLighter;
    background-color: #fff4ef;
}

.icon-Group {
    border-color: #d9b108;
    color: #d9b108;
    background-color: #fffdf4;
}

// Microsoft CSS modifiers.
.ms-Tooltip {
    pointer-events: none;
}