@import '~office-ui-fabric-react/dist/sass/References';
@import './_helpers';

// Brand colors.
$ms-color-word: #2b579a;
$ms-color-powerpoint: #d24726;
$ms-color-excel: #217346;
$ms-color-onenote: #5c2d91;
$ms-color-sway: #008272;
$ms-color-powerApps: #742774;

@mixin icon-color($color) {
    color: $color;
    border-color: $color;
    background-color: rgba($color, 0.06);
}

// LTR mixin definition
@mixin LTR {
    html[dir='ltr'] & {
        @content;
    }
}

// RTL mixin definition
@mixin RTL {
    html[dir='rtl'] & {
        @content;
    }
}