@import '../../../utilities/css/_common';

.od-ExpirationDatePicker {
    margin-top: 4px;

    .ms-DatePicker {
        display: inline-block;
        @include ms-margin-left(8px);
        vertical-align: top;
        margin-bottom: 0;

        i {
            display: none;
        }

        .ms-TextField {
            margin-bottom: 0;
        }
    }

    .ms-DatePicker .ms-TextField input::-webkit-input-placeholder {
        color: $ms-color-neutralPrimary;
        font-size: $ms-font-size-m;
    }

    .ms-DatePicker .ms-TextField div {
        border-color: transparent;
    }

    .ms-TextField-field {
        border-bottom: 1px solid $ms-color-neutralTertiaryAlt;
        padding: 0;
        height: 28px;
        min-width: 0;
    }

    .ms-Icon {
        font-size: $ms-icon-size-l;
        color: $ms-color-themePrimary;
        margin-top: 4px;
    }

    .od-ExpirationDatePicker-label {
        display: inline-block;
    }
}