@import '../../../utilities/css/_common';

.od-AudienceChoiceGroup-row {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    margin-top: 4px;
    width: 90%;

    &.is-selected {
        .od-ShareLinkDescription-label {
            color: $ms-color-neutralDark;
            font-weight: $ms-font-weight-semibold;
        }

        &::after {
            content: '\e73e';
            font-family: 'FabricMDL2Icons';
            font-size: $ms-icon-size-m;
            color: $ms-color-themePrimary;
            @include margin-left(auto);
        }
    }

    &.is-disabled {
        .od-ShareLinkDescription-label {
            color: $ms-color-neutralTertiary;
        }

        .od-ShareLinkDescription-icon {
            color: $ms-color-neutralTertiary;
            background-color: $ms-color-neutralLight;
            border-color: $ms-color-neutralTertiary;
        }
    }
}

.od-AudienceChoiceGroup-bottomBorder {
    border-bottom: 1px solid $ms-color-neutralLighter;
}

.od-AudienceChoiceGroup-description {
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 100%;
}