@import '../../common/common';

.ms-PickerPersona-container {
  @include focus-border();
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: $ms-color-neutralLighter;
  margin: 1px;
  vertical-align: top;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  height: 34px;
  line-height: 34px;

  &:hover {
    background: $ms-color-neutralLight;
  }

  &.is-selected {
    background: $ms-color-neutralQuaternary;
    &:hover {
      background: $ms-color-neutralQuaternaryAlt;
    }
  }

  &.is-listbelow {
    width: 100%;
  }

}

.ms-Suggestions {
  width: 260px;
}

.ms-PickerItem-sideContent {
  position: absolute;
  @include right(0px);
  @include text-align(right);
  display: inline-block;
}

.ms-PickerPersona-content {
  width: 200px;
  position: absolute;
  @include left(0px);
  @include text-align(left);
  vertical-align: middle;
}
