@import '../../../common/common';

.ms-compositeHeader-placeHolderMargin {
    display: block;
    height: 20px;
}

.ms-compositeHeader-topWrapper{
    max-width: 100%;
    display: flex;
    flex-direction: row;

    &.noNav {
        justify-content: flex-end;
    }

    @media (max-width: $ms-screen-md-max) {
        justify-content: flex-end;
    }
}

.ms-compositeHeader-horizontalNav {
    max-width:100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ms-HorizontalNav {
        @include margin-right(68px);
        padding: 0px 24px;
    }
}