@import '../../../common/common';

.ms-compositeHeader-topWrapper{
    padding: 0px 32px;
    min-height: 32px;
}

.ms-compositeHeader-horizontalNav {
    height: 32px;
    display: flex;
    align-items: center;
}

.ms-compositeHeader-mainLayout {
    display: flex;
    height: 66px; // 64px logo height + 1px border top and bottom
    > :first-child { // the site header
        flex-grow: 1;
    }
}

.ms-compositeHeader-rightControls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    @include ms-margin-right(32px);
    @media (max-width: $ms-screen-max-sm) {
        @include ms-margin-right(12px);
    }
}

.ms-compositeHeader-peopleInfo {
    display: flex;
    align-items: center;
    flex-basis: 32px;
    flex-shrink: 0;
}