@import '../../../common/common';

.ms-compositeHeader-siteAndActionsContainer {
    display: flex;
    margin: 32px 0 10px 0;
}

.ms-compositeHeader-headerAndNavContainer {
    max-width:100%;
    flex: 1 1 auto;
    min-width: 100px;
    display: flex;
    flex-direction: column;

    .ms-HorizontalNav {
        @include margin-left(105px);
    }
}

.ms-compositeHeader-actionsContainer {
    flex: 0 1 250px;
    display: flex;
    flex-direction: column;
}

.ms-compositeHeader-searchBoxContainer {
    @include padding-right(24px);
}
