@import '../../../common/common';

.ms-compositeHeader-siteAndActionsContainer {
    display: flex;
    margin: 32px 0 24px 0;

    @media (max-width: $ms-screen-min-xl - 1) and (min-width: $ms-screen-min-lg) {
      @include ms-margin(24px, 0px, 16px, 24px);

      .ms-siteHeader-siteLogo {
        @include ms-margin-left(0);
      }

      .ms-siteHeaderSiteInfo {
        padding-top: 8px;
      }
    }

    @media (max-width: $ms-screen-min-lg - 1) {
      @include ms-margin(14px, 0px, 14px, 12px);
      align-items: center;
    }
}

.ms-compositeHeader-headerAndNavContainer {
    max-width:100%;
    flex: 1 1 auto;
    min-width: 100px;
    display: flex;
    flex-direction: column;

    .ms-HorizontalNav {
        // spec calls right margin of 36px, but nav link already has a right padding of 8px
        @include ms-margin(0, 28px, 0, 105px);
    }
}

.ms-compositeHeader-actionsContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    max-width: 100%;
    flex: 0 1 340px;

    @media (min-width: $ms-screen-min-lg + 1) {
        margin-top: -4px;
    }

    @media (max-width: $ms-screen-min-lg) {
        flex: 1 1 auto;
        flex-direction: row-reverse;
    }

    .ms-compositeHeader-addnCommands {
        &>div {
            padding-bottom: 12px;
        }

        .ms-Button.ms-Button--command {
            // Apr 10 2017: overwrite fabric heights (40px) to meet dave's new spec
            height: 16px;
            padding: 0 16px;
        }
    }
}

.ms-compositeHeader-searchBoxContainer {
    max-width: 100%;
}

.ms-compositeHeader-mobile {
    height: 56px;
    padding: 14px 0;
}

.ms-compositeHeader-mobileActionButton {
    @include ms-margin-left(16px);
}
