@import '../../common/common';

.ms-PickerPersona-container {
  @include focus-border();
  position: relative;
  display: inline-flex;
  vertical-align: top;
  background: $ms-color-neutralLighter;
  margin: 1px;
  vertical-align: top;
  white-space: nowrap;
  cursor: default;
  user-select: none;

  &:hover {
    background: $ms-color-neutralLight;
  }

  &.is-selected {
    background: $ms-color-neutralQuaternary;
    &:hover {
      background: $ms-color-neutralQuaternaryAlt;
    }
  }

  &.is-listbelow {
    width: 100%;
  }

}

.ms-PickerItem-sideContent {
  display: inline-block;
}

.ms-PickerPersona-content {
  flex: 1;
  vertical-align: middle;
  min-width: 100px;
}

.ms-PeoplePicker-personaContent {
  min-width: 100px;
}