@import '../../common/common';

@mixin horizontalNav-font {
  @include ms-font-m;
  color: $ms-color-neutralSecondary;
}

.ms-HorizontalNav {
  position:relative;
  white-space: nowrap;
}

.HorizontalNavItems {
   overflow-x: hidden;
   position: absolute;
   display: inline;
}

.ms-HorizontalNavItem {
  display: inline-block;

  &:not(:last-child){
    @include margin-right(20px);
  }
}

.ms-HorizontalNavItem-link {
  background: none;
  border: none;
  cursor: pointer;
  min-width: 20px;
  text-align: center;
  position: relative;
  padding: 0 8px;
  display: inline-block;
  height: 100%;
  outline: transparent;
  box-sizing: border-box;
  text-decoration: none;
  @include horizontalNav-font;

  &:hover {
    color: $ms-color-themePrimary;
  }

  &:focus {
    outline: 5px auto $ms-color-themePrimary;
  }

  &.is-selected {
     color: $ms-color-neutralPrimary;
     &:hover {
      color: $ms-color-themePrimary;
     }
     &:after {
        border-bottom: 2px solid $ms-color-themePrimary;
        background: $ms-color-themePrimary;
        content: '';
        position: absolute;
        width: 85%;
        @include left(0);
        bottom: -10px;
        margin: 0 8px;
      }
   }
}

.ms-HorizontalNavItem-splitbutton {
  padding: 0px;
  background: transparent;
  border-style: none;

  &:hover {
    color: $ms-color-themePrimary;
  }

  &:focus {
    outline: 5px auto $ms-color-themePrimary;
  }
}

.ms-HorizontalNav-chevronDown {
  display: inline;
  vertical-align: middle;
  color: $ms-color-neutralSecondary;
  line-height: $ms-font-size-xs;
}

.ms-HorizontalNavItem-overflow {
  line-height: $ms-font-size-l;
  vertical-align: middle;
}

.ms-HorizontalNavItem-Edit {
  color: $ms-color-themePrimary;
  vertical-align: middle;
  padding: 0 4px;

  &:hover {
      color: $ms-color-themeDarker;
  }
}

.ms-HorizontalNav .ms-ContextualMenu-itemText {
  @include horizontalNav-font;
}
