@import '../../common/common';

@mixin horizontalNav-font {
  @include ms-font-m;
  color: $ms-color-neutralSecondary;
}

@mixin hori_underline() {
    border-bottom-color: $ms-color-themePrimary;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 6px;
}

.ms-HorizontalNav {
  position:relative;
  white-space: nowrap;
}

.HorizontalNavItems {
   overflow-x: hidden;
   position: absolute;
   display: inline;
}

.ms-HorizontalNavItem {
  display: inline-block;

  &:not(:last-child){
    @include ms-margin-right(20px);
  }
}

.ms-HorizontalNavItem-link {
  background: none;
  border: none;
  cursor: pointer;
  min-width: 20px;
  text-align: center;
  position: relative;
  margin: 0 8px;
  display: inline-block;
  height: 100%;
  border: transparent;
  box-sizing: border-box;
  text-decoration: none;
  @include horizontalNav-font;

  &:hover {
    color: $ms-color-themePrimary;
  }

  &:focus {
    outline: 5px auto $ms-color-themePrimary;
  }

  &.is-selected {
    color: $ms-color-neutralPrimary;
    @include hori_underline();
   }
}

.ms-HorizontalNavItem-splitbutton {
  padding: 0px;
  background: transparent;
  border-style: none;

  &:hover {
    color: $ms-color-themePrimary;
  }

  &:focus {
    outline: 5px auto $ms-color-themePrimary;
  }
}

.ms-HorizontalNav-chevronDown {
  display: inline;
  vertical-align: middle;
  color: $ms-color-neutralSecondary;
  line-height: $ms-font-size-xs;
}

.ms-HorizontalNavItem-overflow {
  line-height: $ms-font-size-l;
  vertical-align: middle;
}

.ms-HorizontalNavItem-Edit {
  color: $ms-color-themePrimary;

  &:hover {
      color: $ms-color-themeDarker;
  }
}

.ms-HorizontalNav .ms-ContextualMenu-itemText {
  @include horizontalNav-font;
}
