@import '../../../common/common';

@mixin highContrast-border($active-color, $bw-color, $size: 2px) {
  @media screen and (-ms-high-contrast: active) {
    border: $size solid $active-color;
  }

  @media screen and (-ms-high-contrast: black-on-white) {
    border: $size solid $bw-color;
  }
}

.ComposedCheckbox {
    white-space: nowrap;
    position: relative;
    display: flex;
    font-size: $ms-font-size-m;
}

.ComposedCheckbox-checkBox {
    min-width: 20px;
}

.ComposedCheckbox-children-container {
    display: flex;
    align-items: center;
    @include ms-margin-left(8px);
}

.od-focus--enabled .ComposedCheckbox.is-inFocus {
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        @include ms-right(-8px);
        @include ms-left(-8px);
        border: 1px solid $od-color-focus;
        @include highContrast-border($ms-color-white, $ms-color-black, 1px);
    }

    // remove focus box-shadow for button inside of checkbox component
    button:focus {
        box-shadow: none;
    }

    // hide the default focus border in the fabric CheckBox
    .ComposedCheckbox-checkBox:focus::after {
        content: none;
    }
}