@import '../../utilities/css/_common';

$button-width: 30px;

.od-ShareHeader {
    align-items: center;
    color: $ms-color-neutralDark;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 4px;
}

.od-ShareHeader-backgroundColor {
    background-color: $ms-color-neutralLighterAlt;
}

.od-ShareHeader-moreContextualMenu {
    .is-open {
        border: none;
        width: auto;
    }
}

.od-ShareHeader-buttons {
    @include ms-padding-right(8px);
    @include ms-right(0);
    padding-top: 16px;
    position: absolute;
    top: 0;
}

.od-ShareHeader-button {
    background: none;
    border: none;
    padding: 0px;
    width: $button-width;
    color: $ms-color-neutralPrimary;
    font-size: $ms-icon-size-m;
    cursor: pointer;
}

.od-ShareHeader-title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.od-ShareHeader-viewName {
    @include ms-font-l;
    @include ms-fontWeight-regular;
}

.od-ShareHeader-itemName {
    @include ms-font-xs;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 175px;
}
