@import '../../utilities/css/_common';

.od-Share {
    position: relative;
    width: 320px;
    min-height: 205px;

    ul {
        list-style-type: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.od-Share-activityIndicator {
    position: absolute;
    top: 50%;
    @include left(50%);
    transform: translate(-50%, -50%);
    z-index: 2; /* Necessary because of an after pseudo element. */
    text-align: center;

    .ms-Spinner {
        display: inline-block;
        width: 28px;
    }
}

.od-Share-backButton {
    position: absolute;
    top: 16px;
    @include left(16px);
    color: $ms-color-themePrimary;
    cursor: pointer;
}

.od-Share-spinnerHolder {
    min-height: 205px;
    width: 320px;

    display: flex;
    align-items: center;
    justify-content: center;
}