@import '../../utilities/css/_common';

.od-Share {
    &.od-Share--hasActivity {
        position: relative;

        &:after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $ms-color-white;
            opacity: 0.8;
        }
    }

    position: relative;
    width: 320px;
    min-height: 205px;
    max-height: 550px; /* If this changes, it needs to be changed in Share.tsx of odsp-next. */
    overflow-y: auto;

    ul {
        list-style-type: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    // Icon modifiers.
    .ms-Icon--ExcelLogo:before {
        color: $ms-color-excel;
    }

    .ms-Icon--OneNoteLogo:before {
        color: $ms-color-onenote;
    }

    .ms-Icon--PowerPointLogo:before {
        color: $ms-color-powerpoint;
    }

    .ms-Icon--WordLogo:before {
        color: $ms-color-word;
    }

    .ms-Icon--PDF:before {
        color: $ms-color-powerpoint;
    }

    .icon-Globe {
        @include icon-color($ms-color-green);
    }

    .icon-Work {
        @include icon-color($ms-color-blue);
    }

    .icon-PeopleAdd {
        @include icon-color($ms-color-orangeLighter);
    }

    .icon-SecurityGroup {
        @include icon-color($ms-color-orange);
    }

    .icon-Group {
        border-color: #d9b108;
        color: #d9b108;
        background-color: #fffdf4;
    }

    // Microsoft CSS modifiers.
    .ms-Tooltip {
        pointer-events: none;
    }
}

.od-Share-backButton {
    @include ms-left(10px);
    background: none;
    border: none;
    color: $ms-color-themePrimary;
    cursor: pointer;
    font-size: $ms-icon-size-m;
    padding: 0px;
    position: absolute;
    top: 8px;

    @include RTL {
        transform: scale(-1, 1);
    }
}

.od-Share-spinnerHolder {
    align-items: center;
    display: flex;
    height: 205px;
    justify-content: center;
    width: 320px;
}

.od-Share-error {
    padding: 0px 16px;
    @include ms-font-m;
}

.od-Share-screenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}