@import '../../common/common';

$cell-margin: 8px;

.ms-List-cell,
.ms-List-page {
  display: inline-block;
  overflow: hidden;
}

.ms-ImageGrid-cell {
  @include margin-right($cell-margin);

  &.cell-right {
     @include margin-right(0px);
  }
}
