@import '../../utilities/css/_common';

.od-Share-PeoplePicker {
    .ms-BasePicker-text {
        min-height: 26px;
        border: none;
        padding: 0px;
        border-bottom: 1px solid $ms-color-themePrimary;
    }

    .ms-BasePicker-input {
        @include ms-padding-left(0);
        @include ms-font-s-plus;

    }

    &.ms-Share-PeoplePicker--error {
        .ms-BasePicker-text {
            border-color: $ms-color-redDark;
        }
    }

    .ms-BasePicker-input::before {
        color: $ms-color-neutralTertiary;
    }

    .ms-TextField.ms-TextField--multiline .ms-TextField-field {
        @include ms-font-s-plus;
    }

    .ms-TextField.ms-TextField--multiline textarea {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $ms-color-neutralTertiary;
            @include ms-font-s-plus;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: $ms-color-neutralTertiary;
            @include ms-font-s-plus;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: $ms-color-neutralTertiary;
            @include ms-font-s-plus;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: $ms-color-neutralTertiary;
            @include ms-font-s-plus;
        }
    }

    .ms-PickerPersona-container {
        border-radius: 16px;
        margin-bottom: 8px;

        &.is-excluded {
            background-color: transparent;
            border: 1px solid $ms-color-redDark;

            .ms-Persona-details {
                @include ms-padding-left(12px);
            }

            .ms-Button-icon {
                color: $ms-color-redDark;
            }
        }
    }

    .ms-PickerItem-content {
        max-width: 250px;
    }
}

.od-Share-PeoplePicker-Suggestions .ms-Suggestions-container {
    max-height: 200px;
}

.od-Share-PeoplePicker-error {
    @include ms-font-s;
    color: $ms-color-shareError;
    display: block;
    margin-bottom: 4px;
}

.od-Share-PeoplePicker-warning {
    word-break: break-word;

    .ms-MessageBar {
        display: block;
        padding: 0px;
    }
}

.od-Share-PeoplePicker-selectedItem--error .ms-PickerPersona-container {
    border-style: solid;
    border-width: 1px;
    @include icon-color($ms-color-shareError);
}