@import '../../../common/common';
.sp-ThemeList-list .ms-List-page {
  overflow: hidden;
}

.sp-ThemeList-list .ms-List-surface {
  position: relative;
}

.sp-ThemeList-item {
  float: left;
  padding: 4px 4px;
  box-sizing: border-box;
  border: 0 transparent;
  outline: 0 transparent;
  @include focus-border();

  &:hover {
      .sp-ThemeListItem-checkCircle {
        visibility: visible;
      }
    }
}

.sp-ThemeListItem-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid $ms-color-neutralLight;
  cursor: pointer;
  padding: 2px 2px;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 0 2px $ms-color-neutralTertiaryAlt;
    border: none;
  }
}

.sp-ThemeListItem-colorContainer{
  display: flex;
  flex: 3 1;
}

.sp-ThemeListItem-colorSwatch {
  flex: 1 1;
  min-height: 10px;
  min-width: 10px;
}

.sp-ThemeListItem-textContainer {
  flex: 1 1;
  min-height: 20px;
  display: flex;
  align-items: center;
  padding: 4px 4px;
}

.sp-ThemeListItem-text {
  font-weight: 400;
}

.sp-ThemeListItem-checkCircle {
  position: absolute;
  @include right(4px);
  top: 4px;
  visibility: hidden;
  cursor: pointer;
  &.selected {
    visibility: visible;
  }
}