@import '../../../common/common';
.sp-ThemeList-item {
  float: left;
  padding: 4px 4px;
  box-sizing: border-box;
  border: 0 transparent;
  outline: 0 transparent;
  height: 100px;
  @include focus-border();
}
.sp-ThemeListItem-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.sp-ThemeListItem-themeContainer {
  display: flex;
  min-height: 50px;
  flex-direction: column;
  border: 1px solid $ms-color-neutralLight;
  box-sizing: border-box;
  height: 100%;
    &:hover {
    box-shadow: 0 0 0 2px $ms-color-neutralTertiaryAlt;
  }
}

.sp-ThemeListItem-colorContainer{
  display: flex;
  flex: 1 1;
}

.sp-ThemeListItem-colorSwatch {
  flex: 1 1;
  min-height: 10px;
  min-width: 10px;
}

.sp-ThemeListItem-textContainer {
  flex: 1 1;
  min-height: 20px;
  display: flex;
  align-items: center;
  padding: 0px 4px;
}

.sp-ThemeListItem-text {
  font-weight: 400;
}

.sp-ThemeListItem-displayName {
  min-width: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px 4px;
}

.sp-ThemeListItem-displayNameContainer {
  display: flex;
  flex: 1;
  min-width: 10px;
  min-height: 20px;
  margin: 8px 0px;
}