@import '../../common/common';

$defaultLeftpadding: 10px;
$defaultPadding: 20px;

.ms-groupCard {
  width: 345px;
  padding-left: $defaultPadding;
  padding-right: $defaultPadding;
  padding-top: 10px;
}

.ms-groupCard-top {
    display: flex;
    padding-bottom: 40px; //Per KC... Spacing needed now
}
.ms-groupCard-body {
    display: inline-block;
    @include ms-padding-left(6px);
    flex-grow:1;
    overflow: hidden;
}

.ms-groupCard-title {
    @include ms-font-xl();
    vertical-align: top;
    overflow: hidden;
}

.ms-groupCard-logo {
    flex-shrink: 0;
    display: inline-block;
    @include ms-margin-left($defaultLeftpadding);
}

.ms-groupCard-icon {
    @include ms-font-xxl();
    padding:4px;
}

.ms-groupCard-iconGroup {
    border-top: 1px solid rgb(234,234,234);
}

.ms-CommandBar.ms-groupCard-CmdBar {
    background-color:transparent;
}

.ms-groupCard-joinbutton {
    margin-top: 20px;
}

// This CSS rule takes a dependency on an internal css class that's defined by the office-ui-fabric-react
// control. That's never a good idea to take a dependency on an internal (non-public) implementation details
// and we should change this once we refactor the command bar control.
.ms-groupCard-iconGroup .ms-CommandBar-primaryCommands {
    margin: 0;
}

.ms-ContextualMenu.ms-FocusZone {
    position: relative;
    box-shadow: none;
    border: none;
    .ms-ContextualMenu-link {
      height: 36px;
    }
  }