@import '../../common/common';
.sp-ChangeTheLookPanel-footerButton + .sp-ChangeTheLookPanel-footerButton {
  margin: 0px 4px;
}
.sp-ChangeTheLookPanel-spinnerContainer {
  height: 30px;
}

.sp-ChangeTheLookPanel-themeList {
  margin-top: 26px;
  width: 232px;
}

.sp-ChangeTheLookPanel-footerLinkContainer {
  padding-top: 16px;
}

.sp-ChangeTheLookPanel-footerLinks {
  padding-top: 16px;
  border-top: 1px solid $ms-color-neutralLight;
  display: block;
  box-sizing: border-box
}

.sp-ChangeTheLookPanel-footerLink {
  margin: 4px 0px;
}

.sp-ChangeTheLookPanel {
  color: $ms-color-black;
}

.sp-ChangeTheLookPanel-errorText {
  color: $ms-color-error;
  background-color: $ms-color-errorBackground;
}