@import '../../utilities/css/_common';

.od-ShareHint {
    @include ms-font-m;
    align-items: center;
    background: none;
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin: 16px 16px 0px 16px;
    padding: 10px;
    width: 284px;

    .ms-Label {
        font-size: $ms-font-size-s;
        padding: 5px 8px;
        vertical-align: top;
    }

    .ms-Icon--CaretDownSolid8 {
        vertical-align: top;
        font-size: $ms-icon-size-xs;
        padding-top: 9px;
        color: $ms-color-neutralPrimaryAlt;
    }
}

.od-ShareHint-chevron {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    font-size: $ms-icon-size-xs;
    @include ms-margin-left(auto);
    color: $ms-color-neutralDark;
    @include ms-padding-left(4px);
}

.od-ShareHint--clickable {
    cursor: pointer;

    &:hover {
        background-color: $ms-color-neutralLighter;
    }
}

.od-ShareHint-iconHolder {
    vertical-align: middle;
}